<!DOCTYPE html>
<html>
<head>
	<title>Shoppist - Sign up</title>
	<link rel="Shortcut Icon" href="static/logo.png"/>
 	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500" rel="stylesheet">
 	<link rel="stylesheet" type="text/css" href="static/style.css">

</head>
<body>
	<div id="dashboard-heading">
		<h1>Shoppist</h1>
		<button id="logout-button" class="btn btn-default" onclick="location.href='/logout';">Logout</button>
	</div>
	<div class="lists-container">
		<div class="shopping-list starter">
			<input id="starter-input" placeholder = "Write you new list here"></input>
			<h5 id="starter-title" contenteditable="true"></h5>
			<ul id="starter-ul" contenteditable="true">		
			</ul>
			<div class="list-controls">
				<button id="add-button" class="btn btn-default">Add List</button>
			</div>
		</div>
		<div class="shopping-list">
			<h5 contenteditable="true">Shopping on 28th January</h5>
			<ul contenteditable="true">
				<li>Kiwi</li>
				<li>Toothpaste</li>
				<li>Pack of spoons</li>
			</ul>
			<div class="list-controls">
				<button class="btn btn-default">Save</button>
				<button class="btn btn-default">Delete</button>
			</div>
		</div>
		<div class="shopping-list">
			<h5 contenteditable="true">Shopping for party</h5>
			<ul contenteditable="true">
				<li>Bread</li>
				<li>Blue band</li>
				<li>Milk</li>
				<li>Dish washing powder</li>
			</ul>
			<div class="list-controls">
				<button class="btn btn-default">Save</button>
				<button class="btn btn-default">Delete</button>
			</div>
		</div>
		<div class="shopping-list">
			<h5 contenteditable="true">Daily shopping list</h5>
			<ul contenteditable="true">
				<li>Onions</li>
				<li>Tomatoes</li>
				<li>Beef</li>
				<li>Bacon</li>
			</ul>
			<div class="list-controls">
				<button class="btn btn-default">Save</button>
				<button class="btn btn-default">Delete</button>
			</div>
		</div>
		<div class="shopping-list">
			<h5 contenteditable="true">Random Shopping</h5>
			<ul contenteditable="true">
				<li>Bread</li>
				<li>Blue band</li>
				<li>Milk</li>
				<li>Dish washing powder</li>
			</ul>
			<div class="list-controls">
				<button class="btn btn-default">Save</button>
				<button class="btn btn-default">Delete</button>
			</div>
		</div>
		<div class="shopping-list">
			<h5 contenteditable="true">Shopping on 6th this month</h5>
			<ul contenteditable="true">
				<li>Bread</li>
				<li>Blue band</li>
				<li>Milk</li>
				<li>Dish washing powder</li>
			</ul>
			<div class="list-controls">
				<button class="btn btn-default">Save</button>
				<button class="btn btn-default">Delete</button>
			</div>
		</div>
		<div class="shopping-list">
			<h5 contenteditable="true">Janes reccomendation</h5>
			<ul contenteditable="true">
				<li>Bread</li>
				<li>Blue band</li>
				<li>Milk</li>
				<li>Dish washing powder</li>
			</ul>
			<div class="list-controls">
				<button class="btn btn-default">Save</button>
				<button class="btn btn-default">Delete</button>
			</div>
		</div>
		<div class="shopping-list">
			<h5 contenteditable="true"></h5>
			<ul contenteditable="true">
				<li>Bread</li>
				<li>Blue band</li>
				<li>Milk</li>
				<li>Dish washing powder</li>
			</ul>
			<div class="list-controls">
				<button class="btn btn-default">Save</button>
				<button class="btn btn-default">Delete</button>
			</div>
		</div>
	</div>
</body>
<script   src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
 <script type="text/javascript" src="static/script.js"></script>
</html>