<!DOCTYPE html>
<html>
<head>
	<title>Shoppist - Login</title>
	<link rel="Shortcut Icon" href="static/logo.png"/>
 	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500" rel="stylesheet">
 	<link rel="stylesheet" type="text/css" href="static/style.css">

</head>
<body>
	<div id="top-strip"></div>
	<div id="heading">
		<img src="static/logo.png">
		<h1>Shoppist</h1>
		<h4>Sign in</h4>
	</div>
	<div id="sign-up-form">
		<form role="form">
			<div class="form-group">
				<input type="text" name="email" placeholder="Your email address">
			</div>
			<div class="form-group">
			 	<input type="password" name="password" placeholder="Your password">
			</div>
			<button type="submit" class="btn btn-default" onclick="location.href='/dashboard';">Sign in</button>
		</form>
	</div>
	<div id="already-registered">
		<span>Don't have an account?</span>
		<span><a href="/sign-up">Create account</a></span>
	</div>
</body>
<script   src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
 <script type="text/javascript" src="static/script.js"></script>
</html>